header {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    top: 0;
    color: $main-font-color;
    align-items: center;
    font-size: 20px;
}

.portfolio {
    height: 100vh;
    width: 100vw;
    background-color: red;
}