%button {
    cursor: pointer;
}

%default-button {
    @extend %button;
    color: $main-font-color;
    background-color: $main-bg-color;
    transition: all 0.2s ease-in;
    &:hover {
        border-color: $main-bg-color;
        background-color: $main-font-color;
        color: $main-bg-color;
    }
}