@import 'slideshow';

.portfolio {
    position: relative;
    height: 100vh;
    width: 100vw;
    .owl {
        &-carousel {
            height: 100%;
            width: 100%;
            z-index: 2;
            .owl-nav {
                position: absolute;
                top: 75vh;
                color: #FFFFFF;
                font-family: "montserrat-regular", sans-serif;
                font-size: 1.4rem;
                height: 3rem;
                line-height: 3rem;
                .owl-prev {
                    margin: 0 .6rem;
                    padding: 0 10px;
                    background: rgba(0, 0, 0, 0.5);
                    display: inline-block;
                    cursor: pointer;
                    border-radius: 3px;
                }
                .owl-next {
                    margin: 0 .6rem;
                    padding: 0 10px;
                    background: rgba(0, 0, 0, 0.5);
                    display: inline-block;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
            .item {
                height: 100%;
                width: 100%;
            }
            .cover-image {
                background-size: cover;
                height: 100%;
                width: 100%;
                display: block;
                &.img-1 {
                    background-image: url("../assets/images/1.jpg");
                }
                &.img-2 {
                    background-image: url("../assets/images/2.jpg");
                }
                &.img-3 {
                    background-image: url("../assets/images/3.jpg");
                }
                &.img-4 {
                    background-image: url("../assets/images/manny-pantoja-603276-unsplash.jpg.jpg");
                }
            }
        }
        &-stage-outer {
            height: 100%;
            width: 100%;
            .owl-stage {
                height: 100%;
                .owl-item {
                    height: 100%;
                }
            }
        }

        &-dots {
            position: absolute;
            top: 85%;
            margin: 0 auto;
            .owl-dot {
                display: inline-block;
                zoom: 1;
                *display: inline;
                &.active,
                &:hover {
                    span {
                        background-color: #000000;
                    }
                }
                span {
                    width: 9px;
                    height: 9px;
                    background-color: #959595;
                    margin: 6px 6px;
                    display: block;
                    -webkit-backface-visibility: visible;
                    transition: opacity 200ms ease;
                    border-radius: 50%;
                }
            }

        }
    }

    //.button {
    //    z-index: 5;
    //    @extend %button;
    //    background-color: $main-bg-color;
    //    opacity: 0.15;
    //    display: block;
    //    position: absolute;
    //    top: 70vh;
    //    font-size: 20px;
    //    padding: 7px;
    //    transition: opacity 0.2s ease-in;
    //    &:hover {
    //        opacity: 1;
    //    }
    //    &-next {
    //        #{$end-direction}: 0;
    //    }
    //    &-back {
    //        #{$start-direction}: 0;
    //    }
    //}
}