header .nav-bar {
    position: relative;
    &-icon {
        height: $header-height;
        width: $header-height;
        display: flex;
        align-items: center;
        @extend %default-button;
        padding-#{$end-direction}: 10px;
        padding-#{$start-direction}: 12px;
        padding-bottom: 5px;
        border-#{$start-direction}: 2px solid $main-font-color;
        border-bottom: 2px solid $main-font-color;
        border-bottom-#{$start-direction}-radius: 33%;
    }
    &-list {
        position: absolute;
        overflow: hidden;
        background-color: $main-bg-color;
        border-#{$start-direction}: 2px solid $main-font-color;
        border-bottom: 2px solid $main-font-color;
        transition: #{$start-direction} 0.4s ease-in;
        top: 0;
        #{$start-direction}: calc(-40vw + 100%);
        height: 50vh;
        width: 40vw;
        &.collapsed {
            #{$start-direction}: 100%;
        }
        .close-icon {
            position: absolute;
            #{$end-direction}: 8px;
            top: 4px;
            cursor: pointer;
            font-size: 20px;
        }
        li {
            padding: 5px;
            transition: border-width 0.2s ease-in;
            border-#{$start-direction}: 0 solid $main-font-color;
            cursor: pointer;
            font-size: 20px;
            &:hover {
                border-width: 5px;
            }
        }
    }
}